<table class="table table-hover">
    <tbody>
    <tr>
        <th>{{ 'matejer_main.user'|trans }}</th>
        <th>{{ 'matejer_main.date'|trans }}</th>
    </tr>
    {% for follower in followers %}
        <tr>
            <td>{{ follower.user.fullname }}</td>
            <td>{{ follower.date|date('d/m/Y') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
