{% extends "ABOSupportBundle::mainBase.html.twig" %}

{% block title %}ABOSupportBundle:Contact:contact{% endblock %}

{% block body %}
    <h1>Welcome to the Contact:contact page</h1>
{% endblock %}
