{% extends "ABOShopBundle::dashShopAdmin.html.twig" %}

{% block title %}{{ 'shop_productadmin_by_col.title'|trans({ '%shopname%': shop.name, '%collection%': collection.name }) }}{% endblock %}
{% block options %}options = {token: true};{% endblock %}

{% block content %}
	{% if products is empty %}
		<div class="row">
			<div class="col-xs-12">
				<div class="callout callout-warning box-shadow">
					<i class="fa fa-warning"></i> {{ 'shop_productadmin_by_col.no_product'|trans }}
				</div>
			</div>
		</div>
	{% else %}
		<div class="row" ng-controller="GalleryController" style="padding: 0 10px;">
			{% for prod in products %}
				{{ render_esi(url('abo_main_card_offer', {'id': prod.productShop.id }) ) }}
			{% endfor %}
		</div>
		<div class="row"><div class="col-xs-12"><div class="navigation">{{ knp_pagination_render(products) }}</div></div></div>
	{% endif %}
{% endblock %}
