<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <span class="copyright">&copy; <strong>{{ 'home_page.copyright'|trans }}</strong></span>
        </div>
        <div class="col-xs-6">
            {{ render(controller('ABOMainBundle:Home:dashLanguage')) }}
        </div>
    </div>
</div>

