{% extends "ABOSupportBundle::mainBase.html.twig" %}

{% block title %}{{ 'Page Title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseZero">
                                <h4 class="box-title">Login And Sign up</h4>
                            </div>
                            <div id="collapseZero" class="panel-collapse collapse in">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Sigup <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Login <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Reset password <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Activate Email <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            My Account is locked <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <h4 class="box-title">Get Started On Matejer</h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Add some details to your account <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Look for shops <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Find the best offer <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Tell your friends about Matejer <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <h4 class="box-title">Manage Your Account</h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Edit your account <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Upload a profile picture <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Change Your email <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                                Change password <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <h4 class="box-title">Get Involved</h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Follow Shops <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Favore Products <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Evaluate Products & Shops <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <h4 class="box-title">Register Your Shop On Matejer</h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Sign Up <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Get Started <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <h4 class="box-title">Manage Your Shop</h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Edit Your Shop Infos <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Upload a Logo And/Or a Cover <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Change/Add email <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Change/Add phone <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <h4 class="box-title">Messaging & Notifications</h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Messaging <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Notifications <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Email Notifications <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <h4 class="box-title">Security & Privacy</h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Security <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Privacy <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Sign Up</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p class="lead text-green">How To Sign Up On Matejer</p>
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                    <p class="lead text-green">Required Informations</p>
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                    <p class="lead text-green">Confirm Your Email</p>
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                    <p class="lead text-green">Is Email Confirmation Important?</p>
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        </div>
    </div>
{% endblock %}
