{% extends "ABOSupportBundle::mainBase.html.twig" %}

{% block title %}{{ 'Page Title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header bg-green-gradient" style="padding: 10px 20px;">
                    <div style="width: 60px;margin-right: 10px;display: inline-block">
                        <i class="fa fa-book" style="font-size: 60px;"></i>
                    </div>
                    <div style="display: inline-block">
                        <p class="h3">Matejer</p>
                        <p class="h5">The Story</p>
                    </div>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">
                            Who Am I.
                        </a></li>
                        <li><a href="#">
                            Why I Needed To Make It.
                        </a></li>
                        <li><a href="#">
                            Some Difficulties...
                        </a></li>
                        <li><a href="#">
                            More
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header bg-green-gradient" style="padding: 10px 20px;">
                    <div style="width: 60px;margin-right: 10px;display: inline-block">
                        <i class="fa fa-trophy" style="font-size: 60px;"></i>
                    </div>
                    <div style="display: inline-block">
                        <p class="h3">Buyers Guide</p>
                        <p class="h5">To Help Choose The Best</p>
                    </div>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">
                            Hi-Tech
                        </a></li>
                        <li><a href="#">
                            Machinery & Tools
                        </a></li>
                        <li><a href="#">
                            House
                        </a></li>
                        <li><a href="#">
                            More
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header bg-green-gradient" style="padding: 10px 20px;">
                    <div style="width: 60px;margin-right: 20px;display: inline-block">
                        <i class="fa fa-envelope-o" style="font-size: 60px;"></i>
                    </div>
                    <div style="display: inline-block">
                        <p class="h3">Contact Us</p>
                        <p class="h5">We're At Your Service Anytime</p>
                    </div>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">
                            Projects
                        </a></li>
                        <li><a href="#">
                            Projects
                        </a></li>
                        <li><a href="#">
                            Projects
                        </a></li>
                        <li><a href="#">
                            More
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header bg-green-gradient" style="padding: 10px 20px;">
                    <div style="width: 60px;margin-right: 20px;display: inline-block">
                        <i class="fa fa-support" style="font-size: 60px;"></i>
                    </div>
                    <div style="display: inline-block">
                        <p class="h3">Help Center</p>
                        <p class="h5">Find Answers For Your Questions</p>
                    </div>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">
                            Login & Signup
                        </a></li>
                        <li><a href="#">
                            Getting Started
                        </a></li>
                        <li><a href="#">
                            Build Your Shop
                        </a></li>
                        <li><a href="#">
                            More
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header bg-green-gradient" style="padding: 10px 20px;">
                    <div style="width: 60px;display: inline-block">
                        <i class="fa fa-shield" style="font-size: 60px;"></i>
                    </div>
                    <div style="display: inline-block">
                        <p class="h3">Our Policies</p>
                        <p class="h5">And Terms Of Use</p>
                    </div>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">
                            Policies
                        </a></li>
                        <li><a href="#">
                            Terms Of Use
                        </a></li>
                        <li><a href="#">
                            Privacy
                        </a></li>
                        <li><a href="#">
                            More
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseZero">
                                <h4 class="box-title">Login And Signup</h4>
                            </div>
                            <div id="collapseZero" class="panel-collapse collapse in">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Sigup <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Login <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Reset password <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Activate Email <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            My Account is locked <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <h4 class="box-title">Get started on matejer</h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Add some details to your account <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Look for shops <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Find the best offer <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Tell your friends about Matejer <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel box box-success box-shadow">
                            <div class="box-header with-border pointer-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <h4 class="box-title">Manage Your Account</h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="box-body no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">
                                            Edit your account <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Upload a profile picture <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                            Change Your email <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                        <li><a href="#">
                                                Change password <i class="fa fa-chevron-right pull-right"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
